body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.glow {
    color: #fff; /* base text color */
    text-shadow: 
        0 0 10px #ff0000, /* red */
        0 0 20px #0ff000, /* green */
        0 0 30px #0000ff; /* blue */
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.colored {
    animation: color-change 3s infinite;
  }

  @keyframes color-change {
    0% {
      color: rgb(255, 0, 0);
    }
    50% {
      color: rgb(0, 255, 0);
    }
    100% {
      color: rgb(0, 0, 255);
    }
  }
.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    background-color: #f7f7f7;
    padding: 1em;
    margin: 1em;
    width: 300px;
}

article h2 {
    font-weight: bold;
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}